@tailwind base;
@tailwind components;
@tailwind utilities;

progress {
    border-radius: 15px;
    overflow:  hidden;
    
}

progress::-webkit-progress-bar {
    background-color: lightgrey;
 }
 progress::-webkit-progress-value {
    background-color:   blue;
 }

 #root {
    background-image: url('./assets/bg.jpeg');
    background-size: cover;
    min-height: 100vh;
 }

 #road {
    background-image: url('./assets/road.png');
    background-position: center;
    background-size: cover;
    height: 20vh;
 }